@tailwind base;
@tailwind components;
@tailwind utilities;

body {

    background-image: url("../assets/ermintek.svg");
    background-attachment: fixed;
    background-size: cover;
    stroke: none;
    background-color: #111328;
    font-family: 'Jost' !important;
}

/*ScrollBar*/
body::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.4) !important;
    opacity: 7 !important;
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background: #e46804;
    border-radius: 1rem;
}



.cardSteps {
    width: 90%;
    height: 100%;
}

.cardSteps h2 {
    text-shadow: 2px 8px 45px rgba(0, 0, 0, 0.418);
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem !important;
    text-transform: uppercase;
    line-height: 5.5rem !important;
    letter-spacing: 0.2rem;
    padding: 1rem;
    word-wrap: normal;

}

.cardSteps p {
    padding: 0.5rem;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    text-transform: uppercase;
    font-weight: 800 !important;
    color: white;
    letter-spacing: 0.1rem;
    padding-top: 2rem;

}

.buttonCta {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    text-transform: uppercase;
    font-weight: 800 !important;
    color: white !important;
    letter-spacing: 0.1rem
}

.buttonCta:hover {
    color: white !important;
}

.NavBar {
    text-transform: uppercase;
    font-family: 'Fjalla One';
    font-size: small !important;
    letter-spacing: 0.14rem;
}

.textCarousel {
    text-shadow: 2px 2px 2px black;
}

.cardHome:hover{
    animation: animate__headShake;
    animation-duration: 2ms;
}